# Place this in /etc/systemd/system/video-note-taker-qa.service
[Unit]
Description=video-note-taker QA
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/code/video-note-taker
Environment="COUCHDB_AUTH_FOR_RING_DB_USERNAME=REPLACE_THIS_WITH_YOUR_ADMIN_USERNAME_WHEN_YOU_COPY_THIS_TO_ETC"
Environment="COUCHDB_AUTH_FOR_RING_DB_PASSWORD=REPLACE_THIS_WITH_THE_PASSWORD_WHEN_YOU_COPY_THIS_TO_ETC"
Environment="VNT_UPLOAD_TO_SPACES=true"
Environment="STRIPE_SECRET_KEY_TEST=REPLACE_THIS"
Environment="STRIPE_WEBHOOK_SIGNING_SECRET_TEST=REPLACE_THIS"
Environment="STRIPE_SECRET_KEY_LIVE=REPLACE_THIS"
Environment="STRIPE_WEBHOOK_SIGNING_SECRET_LIVE=REPLACE_THIS"
Environment="STRIPE_MODE=SET_THIS_TO_test_OR_live"
Environment="LANDING_PAGE_VIDEO_URL=REPLACE_THIS"
Environment="STRIPE_PLAN_A_ONE_TIME_PRICE_LIVE=price_REPLACE_THIS"
Environment="STRIPE_PLAN_A_ONE_TIME_PRICE_TEST=price_REPLACE_THIS"
Environment="STRIPE_PLAN_A_RECURRING_PRICE_LIVE=price_REPLACE_THIS"
Environment="STRIPE_PLAN_A_RECURRING_PRICE_TEST=price_REPLACE_THIS"
Environment="STRIPE_PLAN_B_RECURRING_PRICE_LIVE=price_REPLACE_THIS"
Environment="STRIPE_PLAN_B_RECURRING_PRICE_TEST=price_REPLACE_THIS"



ExecStart=/usr/bin/java -jar /home/pi/code/video-note-taker/target/video-note-taker-0.1.0-SNAPSHOT-standalone.jar 3001

[Install]
WantedBy=multi-user.target
