/* Responsive table display for the feature comparison table
   Based on https://css-tricks.com/responsive-data-tables/
*/

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* hide table headers */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -999px;
    }

    td {
        border: none;
        /* border-bottom: 1px solid #eee; */
        position: relative;
        padding-left: 50%;
    }

    td:nth-of-type(1) {
        font-weight: bold;
        margin-top: 35px;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(2):before { content: "FamilyMemoryStream" }
    td:nth-of-type(3):before { content: "YouTube" }
    td:nth-of-type(4):before { content: "Google Drive" }
}
